.comment__wrapper {
    width: 90%;
    max-width: 500px;
    min-height: 140px;
    display: flex;
    position: relative;
    padding: 10px;
}

.comment__header {
    width: 10%;
    display: flex;
}

.header_h3 {
    height: 30px;
    position: relative;
    top: -10px;
    left: 15px;
    background-color: #8a2507;
    color: white;
    border-radius: 50%;
    padding: 12px;
    font-size: 20px;
    margin: 0;
    z-index: 10;
}

.header_p {
    position: relative;
    top: -4px;
    left: 0;
    background-color: #8a2507;
    color: black;
    margin: 0;
    padding: 0 10px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    z-index: 2;

}

.comment_body {
    background-color: peru;
    max-width: 358px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.comment_body p {
    max-width: 220px;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    text-align: center;
}

.close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    background-color: #8a2507;
    position: absolute;
    top:5px;
    right:15px;
    z-index: 20;
    outline: none;
    border:none;
    transition: all 0.2s ease-in-out;
}
.close:hover{
    cursor: pointer;
    transform: scale(1.1);
}